  body{
       
        background-color: rgb(100, 102, 104);
       font-style: oblique;
       font-size: 17px;
    }
    h1{
        color:black;
        
      

    }
    p, li,a{
        color:yellow;
        text-align: left;
       
    }
    ol,a{
        color: black;
        text-align: center;
        padding: 5px;
        margin: 4px;
        text-decoration: none;
    }
    .ed{
        color:blue;
    }
    ol, a:hover,a.active{
        color: honeydew;

    }
    footer{
        color: rgb(50, 54, 59);
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .brd{
     
      margin-left: 20%;
    }
    .left{
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 30px;
    }
    .left img
    {
        width:70px;
        

    }
    div .lname{
        
        color: beige;
        text-align: center;
       font-size:12px;
          }
  .sub:hover{
    color: white;
 }
 